<html>
  <head>
    <title>Simplify</title>
  </head>
  <body>
    <h1>Energy Savings Template</h1>
    <div>
      <%= form_with model: Recipe, url: recipes_path, method: :post, local: true do |f| %>
        <div>
          <%= f.label :url %><br>
          <%= f.text_field :url %>
        </div>

        <div>
          <%= f.submit "something will go here" %>
        </div>
      <% end %>
    </div>
  </body>
</html>
