/* center content, set max width */
body {
  margin: 0 auto;
  max-width: 1000px;
  display: block;
}

/* a new default font and bg color */
html,
body {
  font-family: "Comic Sans MS", sans-serif;
  background-color: rgb(213, 222, 230);
}

.center {
  text-align: center;
}

.flex-container {
  display: flex;
}

.column {
  flex: 1; /* Each column takes equal space */
  margin: 0 10px; /* Optional: Add some margin between columns */
}

.col-head {
  text-align: center;
}
