/* center content, set max width */
body {
  margin: 0 auto;
  max-width: 1000px;
  display: block;
}

/* a new default font and bg color */
html,
body {
  font-family: "Comic Sans MS", sans-serif;
  background-color: rgb(213, 222, 230);
}

.center {
  text-align: center;
}

.flex-container {
  display: flex;
}

.column {
  flex: 1; /* Each column takes equal space */
  margin: 0 10px; /* Optional: Add some margin between columns */
}

.col-head {
  text-align: center;
}

/*styling for navbar*/
.nav_container {
  padding: 10px;
  background-color: #f8f9fa;
}

.nav_items {
  list-style-type: none; /* Removes bullet points */
  margin: 0;
  padding: 0;
  display: flex; /* Makes list items appear in a row */
  align-items: center; /* Vertically centers items */
}

.nav_items li a:hover {
  text-decoration: underline;
}

