<header>
	<div class="nav_container">
		<ul class="nav_items">
			<li><%= link_to "home", root_path %></li>
			<li><%= link_to "login", login_path %></li>
			<li><%= link_to "sign up", signup_path %></li>
			<li><%= link_to "about", about_path %></li>
		</ul>
	</div>
</header>
